[submodule "Classes/lib"]
	path = Classes/lib
	url = git@github.com:oke-ya/cocos2d-x-lib.git
[submodule "cocos2d"]
	path = cocos2d
	url = git@github.com:cocos2d/cocos2d-x.git
[submodule "Vendor/PluginXProtocols"]
	path = Vendor/PluginXProtocols
	url = git@github.com:yalab/PluginXProtocols.git
[submodule "Vendor/PluginXGooglePlay"]
	path = Vendor/PluginXGooglePlay
	url = git@github.com:yalab/PluginXGooglePlay.git
[submodule "Vendor/PluginXIosIap"]
	path = Vendor/PluginXIosIap
	url = git@github.com:yalab/PluginXIosIap.git
[submodule "Vendor/openssl-android"]
	path = Vendor/openssl-android
	url = git@github.com:guardianproject/openssl-android.git
[submodule "Vendor/C2DXChartboost"]
	path = Vendor/C2DXChartboost
	url = git@github.com:jesanchezgo/C2DXChartboost.git
