*.udf
*.apk
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcworkspace/contents.xcworkspacedata
**/*.xcodeproj/*
!**/*.xcodeproj/project.pbxproj
.DS_Store
.gradle
Thumbs.db
npm-debug.log
/bin
/proj.android-studio/app/assets/
/proj.android-studio/app/bin/
/proj.android-studio/app/gen/
/proj.android-studio/app/libs/armeabi
/proj.android-studio/app/libs/google-play-services_lib
/proj.android-studio/app/libs/library-debug.aar
/proj.android-studio/app/local.properties
/proj.android-studio/app/obj/
/publish/
/proj.android-studio/ant.properties
/proj.android-studio/build
/proj.ios_mac/Pods
/cocos2d/build/build
/proj.ios_mac/build/
Breakpoints_v2.xcbkptlist
UserInterfaceState.xcuserstate
/Resources/*
!/Resources/Sounds
!/Resources/Particles
!/Resources/Fonts
/.keystore

