*.udf
*.apk
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcworkspace/contents.xcworkspacedata
**/*.xcodeproj/*
!**/*.xcodeproj/project.pbxproj
.DS_Store
.gradle
Thumbs.db
npm-debug.log
/bin
/proj.android/assets/
/proj.android/bin/
/proj.android/gen/
/proj.android/libs/armeabi
/proj.android/libs/google-play-services_lib
/proj.android/libs/library-debug.aar
/proj.android/local.properties
/proj.android/obj/
/publish/
/proj.android/ant.properties
/proj.android/build
/proj.ios_mac/Pods
/cocos2d/build/build
/proj.ios_mac/build/
Breakpoints_v2.xcbkptlist
UserInterfaceState.xcuserstate
/Resources/*
